<div class="configure">
    <form action="" class="form form-horizontal form-configure">
        <h3>Configure Email account</h3>
        <div class="control-group">
            <label for="input-email-address" class="control-label">Email Address: </label>
            <div class="controls">
                <input type="text" id="input-email-address" required/>
            </div>
        </div>
        <div class="control-group">
            <label for="input-password" class="control-label">Password: </label>
            <div class="controls">
                <input type="password" id="input-password" required/>
            </div>
        </div>
        <div class="control-group action-control-group">
            <input type="submit" class="btn btn-primary"/>
        </div>
        <div class="hint" style="display:none;">Saved</div>
    </form>
</div>
