<div class="select-container">
    <div class="number-selector-container">
        Top
        <select class="sel-number">
            <option value="25">25</option>
            <option value="50" selected>50</option>
            <option value="75">75</option>
            <option value="100">100</option>
        </select>
         Frequent Contacts
    </div>
    <div class="group-selector-container">
        Group by
        <select class="sel-group">
            <option value="individual" selected>Individual</option>
            <option value="department">Department</option>
            <option value="location">Location</option>
        </select>
    </div>
</div>
<div class="connection-diagram-container">
    <svg class="network-chart"></svg>
    <svg class="time-axis"></svg>
</div>
