<div class="summary-content">
    <div class="block">
        <h3>Total Meetings</h3>
        <p><%- totalNumber %></p>
    </div>
    <div class="block">
        <h3>Meetings / Week</h3>
        <p><%- (totalNumber / weeks).toFixed(2) %></p>
    </div>
    <div class="block">
        <h3>Total Meeting Hours</h3>
        <p><%- Math.round(totalTime / 60) %> hours</p>
    </div>
    <div class="block">
        <h3>Meeting Hours / Week</h3>
        <p><%- (totalTime / 60 / weeks).toFixed(2) %> hours</p>
    </div>
</div>
