html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
div.root-view {
    width:100%;
    height: calc(100% - 65px);
    overflow: auto;
}
.center{
    width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.summary-container {
    float: left;
    height: 100px;
    width: 100%;
}
.summary-container .summary-content{
    border-bottom: 1px solid #999;
    height: 100%;
}
.summary-container .summary-content .block{
    float: left;
    width: 180px;
    height: 80px;
    padding: 10px;
    position: relative;
}
.summary-container .summary-content .block:after{
    content: "";
    border-right: 1px solid #999;
    height: 100px;
    position: absolute;
    top: 0;
    right:0;
}
.summary-container .summary-content .block:first-child:before{
    content: "";
    border-left: 1px solid #999;
    height: 100px;
    position: absolute;
    top: 0;
    left:0;
}

.summary-container .summary-content .block h3{
    height: 40px;
    font-weight: bold;
    text-align: center;
}
.summary-container .summary-content .block p{
    text-align: center;
    font-size: 14px;
}
.calendar-container{
    float: left;
    padding-left: 5px;
    padding-top:10px;
}
.calendar {
    width: 750px;
    float: left;
}
.calendar .month-view {
    float: left;
    width: 180px;
    height: 165px;
    margin-right: 5px;
}
.calendar .month-view .fc-toolbar {
    margin-bottom: 5px;
}
.calendar .month-view .fc-toolbar h2 {
    font-size: 14px;
}
.calendar .month-view .fc-body .fc-row {
    min-height: 20px;
}
.calendar .month-view .fc-day {
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -o-transition: background 500ms;
    transition: background 500ms
}
.calendar .month-view .fc-day-number {
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms
}
.analysis-container{
    float: left;
}
.analysis-container .chart{
    width: 400px;
    height: 300px;
    float: left;
}
.heat-indicator {
    background: #0000ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00ff00 0%, #ffff00 50%, #ff0000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00ff00 0%, #ffff00 50%, #ff0000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00ff00 0%, #ffff00 50%, #ff0000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000', GradientType=0);
    /* IE6-9 */
    width: 30px;
    height: 180px;
    float: left;
    margin-left: 10px;
    margin-top: 50px;
    position: relative;
}
.heat-indicator::before {
    position: absolute;
    content: "Free";
    top: -20px;
    font-family: "Roboto", "Droid", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.heat-indicator::after {
    position: absolute;
    content: "Busy";
    bottom: -20px;
    font-family: "Roboto", "Droid", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
